:root {
    --primary-color: #010513;
    --secondary-color: #225AC1;
    --accent1: #A31212;
    --accent2: #FFFFFF;

}

body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    font-family: "Boldonse", system-ui;
    font-weight: 400;
    background-color: var(--primary-color);
}

header {
    background-color: var(--accent2);
    display: grid;
    grid-template-rows: 120px 1fr 1fr;
    align-items: center;
}

nav {
    display: flex;
    justify-content: space-around;
    padding: 0 20px;

}

nav a {
    color: var(--primary-color);
    padding: 30px;
    text-decoration: none;

}

h1 {
    font-family: "Boldonse", system-ui;
    font-weight: 100;
    font-style: normal;
    color: var(--accent2);
}

p {
    font-family: "DM Sans", sans-serif;
    color: var(--accent2);
    font-size: 1.2em;
}

.herodiv {
    position: relative;
    width: 100%;
}

.herodiv img {
    display: block;
    width: 100%;
    height: auto;
}

.herodiv h1 {
    position: absolute;
    left: 20%;
    text-align: center;
    top: 40px;
    color: var(--accent2);
    font-size: 3em;
    text-shadow: 3px 3px 5px var(--accent1);

}

article {
    color: var(--accent2);
    display: flex;
    padding: 20px;
    margin: 20px;
    position: absolute;
    top: 150px;
    background: var(--accent1);
    border-radius: 15px;
    padding: 0.65rem;
    box-shadow: 0 0 30px #111;
    opacity: 0.9;
}

article img {
    width: 200px;
    height: auto;
    display: flex;
    float: right;
}

.history {
    text-align: center;

}

.history div {
    display: grid;
    display: flex;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 120px 1fr 1fr;
    align-items: center;
}

section {
    background-color: var(--secondary-color);
    color: var(--accent2);
    padding: 20px;
    margin: 20px;
}

section h2 {
    text-align: center;
}

figure img {
    width: 200px;
    height: auto;
}

figure {
    border: thin var(--accent2);
    display: flex;
    flex-flow: column;
    padding: 5px;
    margin: auto;
    text-align: center;
    font-size: small;
}

section div {
    display: flex
}

footer {
    background-color: var(--accent1);
    color: var(--accent2);
    text-align: center;
    padding: 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.socialinks {
    color: var(--accent2);
    text-decoration: none;
}