:root {
    --primary-color: #010513;
    --secondary-color: #225AC1;
    --accent1: #A31212;
    --accent2: #FFFFFF;

}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: "Boldonse", system-ui;
    font-weight: 400;
    background-color: var(--primary-color);
}

header {
    background-color: var(--accent2);
    display: grid;
    grid-template-columns: 200px auto;
    align-items: center;
}

header img {
    width: 120px;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    color: var(--primary-color);
    padding: 30px;
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    padding: 1rem;
}

nav a:hover {
    background-color: var(--secondary-color);
    color: var(--accent2);
}

p {
    font-family: "DM Sans", sans-serif;
    color: var(--accent2);
    font-size: 1.2em;
}

.herodiv {
    position: relative;
    width: 100%;
}

.herodiv img {
    display: block;
    width: 100%;
    height: auto;
}

.herodiv h1 {
    font-family: "Boldonse", system-ui;
    font-weight: 100;
    font-style: normal;
    color: var(--accent2);
    position: absolute;
    left: 20%;
    text-align: center;
    top: 40px;
    color: var(--accent2);
    font-size: 3em;
    text-shadow: 3px 3px 5px var(--accent1);

}

article {
    color: var(--accent2);
    display: flex;
    padding: 20px;
    margin: 20px;
    position: absolute;
    top: 150px;
    background: var(--accent1);
    border-radius: 15px;
    padding: 0.65rem;
    box-shadow: 0 0 30px #111;
    opacity: 0.9;
}

article img {
    width: 200px;
    height: auto;
    display: flex;
    float: right;
}

.history {
    background-color: var(--secondary-color);
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    align-items: center;
    padding: 20px;
    margin: 20px;
    gap: 1em;
}

.history img {
    max-width: 300px;
}

.history h2,
.adventure h2,
.employees h2,
.address h2,
.contactform h2,
.contactus p {
    color: var(--accent2);
    grid-column: 1/-1;
    justify-self: center;
}

.adventure {
    background-color: var(--secondary-color);
    color: var(--accent2);
    padding: 20px;
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
}

figure {
    width: 200px;
    height: auto;
    background-color: var(--accent1);
    gap: 1rem;
    align-self: center;
    border: thin var(--accent2);
    display: flex;
    flex-flow: column;
    padding: 5px;
    margin: auto;
}

figcaption {
    text-align: center;
    font-size: small;
    padding: .5rem;
}

footer {
    background-color: var(--accent1);
    color: var(--accent2);
    text-align: center;
    padding: 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer a {
    color: var(--accent2);
}

.slinks {
    color: var(--accent2);
    text-decoration: none;
}

.slinks a:hover {
    background-color: unset;
}

.contactus-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
}

.contactus h1 {
    color: var(--accent2);
    grid-column: 1/-1;
    justify-self: center;
    grid-row: 1;
}

.contactform {
    background-color: var(--accent1);
    color: var(--accent2);
    padding: 20px;
    margin: 20px;
    grid-column: 1/4;
    grid-row: 2;
    font-family: "DM Sans", sans-serif;
    font-size: 1.2em;
}

.address {
    background-color: var(--secondary-color);
    color: var(--accent2);
    display: grid;
    align-items: center;
    padding: 20px;
    margin: 20px;
    gap: 1em;
    font-family: "DM Sans", sans-serif;
    font-size: 1.2em;
    gap: 20px;
    grid-column: 4/7;
    grid-row: 2;
}

.hrule {
    border: 1px solid var(--accent2);
    grid-column: 1/-1;
}

.address a {
    color: #FFFFFF;
}

.gmap {
    margin: 0;
    width: 100%;
    border: 0;
}

.employees {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 1rem;
    margin: 20px;
}

.message,
.contact-info {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.5rem;
}

.radio-inputs {
    display: grid;
    grid-template-columns: 0fr 1fr;
    gap: 0.5rem;
}

button {
    background-color: var(--accent2);
    color: var(--primary-color);
    border: none;
    padding: .5rem 1rem;
    font-size: 1.2em;
    margin: 1rem;
    width: 100%;
    display: block;
    margin: 1rem auto;
}

button:hover {
    background-color: var(--secondary-color);
    color: var(--accent2);
}